<center><h1>Log In</h1></center>
<%= render partial: 'shared/login_form', locals: { target: :session, path: login_path, button: "Login"} %>
<center>New to URLockbox? <%= link_to "Sign Up", new_user_path %></center>
